.Sidebar {
    position: fixed;
    width: 280px;
    max-width: 50%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 200;
    background: #fff;
    padding: 32px 16px;
    box-sizing: border-box;
    transition: transform 0.3s ease-out;    
}

.Open {
    transform: translateX(0);
}

.Close {
    transform: translateX(-100%);
}


.Logo {
    height: 15%;
    margin-top: 20px;
    margin-bottom: 15px;
}

@media (min-width: 610px) {
    .Sidebar {
        display: none;
    }
}